@import "imports";

.blanke-window.scene .content {
	overflow: hidden;

	> * {
		height: 100%;
	}

	> .sidebar {
		width: 150px;
		float: left;
		background-color: @overlay-color;
		box-shadow: @card-shadow;

		> *:not(.ui-resizable-handle) {
			width: 100%;
			height: 50%;
			padding: 5px;
			box-sizing: border-box;
			overflow: auto;
		}

		> .object-container {
			border-bottom: @container-border;

			> select {
				border: none;
				outline: none;
				background: none;
				margin-bottom: 5px;
				width: 100%;

				&.in-category {
					text-transform: uppercase;
				}
			}

			> .obj-settings-container {
				font-size: 14px;
			}
		}
	}

	> .main-editor {
		
	}
}