@import "imports";

@tile-preview-max-height: 200px;

.blanke-window.scene .content {
	overflow: hidden;

	> * {
		height: 100%;
	}

	select:not(.ui-select) {
		border: none;
		outline: none;
		background: none;
		margin-bottom: 5px;
		width: 100%;
	}

	> .sidebar {
		width: 160px;
		float: left;
		background-color: @overlay-color;
		box-shadow: @card-shadow;
		z-index: 10;

		> *:not(.ui-resizable-handle) {
			position: absolute;
			left: 0px;
			width: 100%;
			padding: 5px;
			box-sizing: border-box;
			overflow: auto;
		}

		> .object-container {
			border-bottom: @container-border;
			top: 0px;
			bottom: 30px;

			> .in-category {
				text-transform: uppercase;
			}
		
			> .obj-settings-container, .obj-preview {
				display: inline-block;
				vertical-align: top;
			}

			> .obj-settings-container {
				.subcategory {
					> .title {
						font-size: 14px;
						font-weight: 600;
						margin: 0px;
					}

					.ui-input-group {
						margin-left: 10px;
					}

					label {
						font-size: 12px;
					}

					input:not(.ui-color) {
						margin: 2px;
						width: 35px;
					}
				}
			}

			> .obj-preview {
    			.no-select();
    			
				overflow: auto;
				width: 100%;
    			max-height: @tile-preview-max-height;
    			position: relative;

    			> * {
    				margin-top: 1px;
    				margin-left: 1px;
    			}

    			> .img-preview {
    				pointer-events: none;
    			}

    			> .tile-selector {
    				position: absolute;
    				top: 0px;
    				left: 0px;
    				cursor: default;

    				> .grid-tile {
    					pointer-events: none;
    					display: inline-block;
    					vertical-align: top;
                		outline: solid 1px var(--eng-color);
                		opacity: 0.25;
    				}
    			}

				> .selection {
					position: absolute;
					top: 100%;
					left: 100%;
					width: 0px;
					height: 0px;
					opacity: 0.5;
					cursor: default;
					pointer-events: none;
					background-color: var(--eng-color);
				}
			}
		}

		> .layer-container {
			position: absolute;
			text-align: center;
			padding: 0px;
			height: 30px;
			bottom: 0px;

			> * {
				position: absolute;
				height: 100%;
			    vertical-align: top;
			    margin: 0px;
			    padding: 0px;

			}

			.ui-button {
				padding: 4px;
			}

			> .group-layer-move {
				left: 0px;
			}

			> .group-layer-edit {
				right: 0px;
			}

			> .group-layer-move, .group-layer-edit {
				width: 25px;

				> .ui-button {
					width: 100%;
				    margin: 0px;
				    padding: 0px;
				    height: 50%;
				    display: block;
				    vertical-align: top;
				}
			}

			> .in-layer-container {
				left: 25px;
				right: 25px;

				> .in-layer {
					width: 100%;
				    margin: 0px;
				    height: 100%;
				}
			}

		}
	}

	> #main-editor {
	}
}