.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
    not supported by any browser */
}

.win-drag{
    -webkit-app-region: drag;
}

.win-nodrag{
    -webkit-app-region: no-drag;
}

.ui-btn-group {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

.ui-button {
    height: 30px;
    width: 30px;
    margin: 3px;
    padding: 0px;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    cursor: default;

    transition: all ease-in-out 0.4s;

    &:hover {
    	border-radius: 100%;
    	background-color: #e0e0e0;
    }
}

.ui-select {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.ui-input {
    border: 20px solid transparent;
    border-image: linear-gradient(to right, black 0%, transparent 90%, transparent 100%);
    border-image-slice: 1;
    border-width: 0px;
    padding: 3px;
    border-bottom-width: 1px;
    outline: none; 
}

.ui-input-group {
    input {
        .ui-input();
    }
}