@import "variables";
@import "../includes/blanke-kit/blanke-ui";

@font-face {
    font-family: "Inconsolata";
    src: url("./includes/fonts/inconsolata/Inconsolata.otf") format("opentype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./includes/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ProggySquare";
    src: url("./includes/fonts/proggy/ProggySquare.ttf/ProggySquare.ttf") format("truetype");
}

@font-face {
    font-family: "ProggyClean";
    src: url("./includes/fonts/proggy/ProggyClean.ttf/ProggyClean.ttf") format("truetype");
}

@font-face {
    font-family: "Monofur";
    src: url("./includes/fonts/monofur/monof55.ttf") format("truetype");
}

@font-face {
    font-family: "ProFont";
    src: url("./includes/fonts/profont/ProFontWindows.ttf") format("truetype");
}

*:not(.no-global-font) {
    font-family: 'Inconsolata', sans-serif; 
}