@lib-button-width: 22px;
@lib-button-height: 22px;

@lib-svg-width: 14px;
@lib-svg-height: 14px;


body{
	&[project-open="0"] {
		.library {
			width: 0px !important;
			padding: 0px;

			.actions {
				display: none;
			}
		}
	}

	&[project-open="1"] {
		.library {
			width: @lib-initial-width;
		}
	}
}

.library {
	position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background-color: @overlay-color;
    z-index: 20;
    overflow: auto;
    padding: @library-padding;
    box-shadow: @card-shadow;

    transition: all ease-in-out 0.2s;

    >.ui-resizable-handle {
    	right: 0px;
    	width: 10px;
    }

    .mdi-svg {
    	width: @lib-svg-width;
    	height: @lib-svg-height;
    }

    .actions {
    	.win-drag();
    	.no-select();
    	
    	margin: 0px;
    	white-space: nowrap;
    	z-index: @library-z-front;

    	button {
    		.ui-button-sphere();
    		.win-nodrag();
		}

		.btn-add:hover {
			background-color: #E5E5E5;
		}
	}

	.constant-items {
		.item {
			position: relative;
			cursor: default;
			outline: 1.5px dashed;
			outline-color: transparent;
			padding: 0px;

			transition: background-color ease-in-out 0.1s;
			transition: outline-color ease-in-out 0.5s;

			.name {
				.no-select();
				
				margin: 0px;
				padding: 2px;
				font-size: @font-size;

				&:hover {
					background-color: #e0e0e0;
				}
			}
		}
	}

	.object-tree {
		.no-select();

	    /*position: absolute;*/
	    top: 36px;
	    left: 0px;
	    right: 0px;
	    z-index: 10;
	    box-sizing: border-box;
	    line-height: 16px;
	    overflow: auto;
	    bottom: 0px;

		&.can-delete {
			.children {
				margin-left: 0px !important;
			}
		}

		>.children {
			padding: @library-padding;
			position: absolute;
			left: 0px;
			right: 0px;
			box-sizing: border-box;
		}

		>.name {
			position: relative;
			cursor: default;
			outline: 1.5px dashed;
			outline-color: transparent;

			transition: background-color ease-in-out 0.1s;
			transition: outline-color ease-in-out 0.5s;
		}

		.folder,.object{
			position: relative;
			transition: all ease-in-out 0.2s;

			&.dragover {
				outline-color: @ide-fave-color-400;
				
				>.name{
					line-height: @font-size + 2;
					font-size: @font-size + 2;
				}
			}

			&.dragover-insert {
				margin-bottom: @font-size;
			}

			&.selected {
				>.name {
					font-weight: 900;
				}
			}

			.in-rename {
				.ui-input();

				background: transparent;
				outline: none;
				font-size: @font-size;
				padding: 0px;
				margin: 0px;
				width: 100%;
			}

			.name {
				.no-select();
				padding: 1px;
				font-size: @font-size;
				transition: all ease-in-out 0.1s;

				&:hover {
					background-color: #e0e0e0;
				}
			}

			&.can-delete {
				margin-left: 18px;
			}

			.btn-delete-obj {
    			.ui-button-sphere();

    			position: absolute;
    			top: 0px;
    			left: -18px;

    			width: 18px;
    			height: 18px;
    			margin: 0px;

				transition: ease-in-out 0.1s background-color;

    			&:hover {
    				background-color: #f44336;
    				color: white;
    				border-radius: 0px;
    			}
			}
		}

		.folder {
			> .children {
				overflow: hidden;
				margin-left: 15px;
				transition: ease-in-out 0.05s all;
			}

			> .name {
				text-decoration: underline;
			}

			&.expanded > .name {
				font-style: italic;
			}

			&.expanded > .children{
				opacity: 1;
			}

			&:not(.expanded) > .children{
				max-height: 0;
				height: auto;

				margin-left: 0px;
				opacity: 0;
			}
		}	
	}
}