body{
	&[project-open="0"] {
		.library {
			width: 0px;

			.actions {
				display: none;
			}
		}
	}

	&[project-open="1"] {
		.library {
			width: 200px;
		}
	}
}

.library {
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    /*box-shadow: 1px 0px 5px black;*/
    z-index: 20;
    overflow: hidden;

    transition: all ease-in-out 0.2s;

    .actions {
    	.win-drag();
    	.no-select();
    	
    	white-space: nowrap;
    	z-index: @library-z-front;

    	button {
    		.ui-button-sphere();
    		.win-nodrag();
		}

		.btn-add:hover {
			background-color: #E5E5E5;
		}

		.ui-checkbox {
			width: 30px;
		}
	}

	.constant-items {
		.item {
			position: relative;
			cursor: default;
			outline: 1.5px dashed;
			outline-color: transparent;

			transition: background-color ease-in-out 0.1s;
			transition: outline-color ease-in-out 0.5s;

			.name {
				margin: 0px;
				padding: 4px;

				&:hover {
					background-color: #e0e0e0;
				}
			}
		}
	}

	.object-tree {
		.no-select();

	    /*position: absolute;*/
	    top: 36px;
	    left: 0px;
	    right: 0px;
	    z-index: 10;
	    box-sizing: border-box;
	    line-height: 20px;
	    overflow: auto;
	    bottom: 0px;
	    height: 100%;

		&.can-delete {
			.children {
				margin-left: 0px !important;
			}
		}

		>.children {
			width: 100%;
			padding: 1px;
			position: absolute;
		}

		>.name {
			position: relative;
			cursor: default;
			outline: 1.5px dashed;
			outline-color: transparent;

			transition: background-color ease-in-out 0.1s;
			transition: outline-color ease-in-out 0.5s;
		}

		.folder,.object{
			position: relative;

			&.dragover {
				outline-color: @ide-fave-color-400;
			}

			&.selected {
				>.name {
					font-weight: 900;
				}
			}

			input {
				.ui-input();

				background: transparent;
				outline: none;
				font-size: 12px;
				padding: 0px;
			}

			.name {
				.no-select();
				padding: 1px;
				font-size: 12px;

				&:hover {
					background-color: #e0e0e0;
				}
			}

			&.can-delete {
				margin-left: 25px;
			}

			.btn-delete-obj {
    			.ui-button-sphere();

    			position: absolute;
    			top: 0px;
    			left: -25px;

    			width: 25px;
    			height: 28px;
    			margin: 0px;

				transition: ease-in-out 0.1s background-color;

    			&:hover {
    				background-color: #f44336;
    				color: white;
    				border-radius: 0px;
    			}
			}
		}

		.folder {
			> .children {
				overflow: hidden;
				margin-left: 15px;
				transition: ease-in-out 0.05s all;
			}

			> .name {
				text-decoration: underline;
			}

			&.expanded > .name {
				font-style: italic;
			}

			&.expanded > .children{
				max-height: 1800px;
				opacity: 1;
			}

			&:not(.expanded) > .children{
				max-height: 0;
				height: auto;

				margin-left: 0px;
				opacity: 0;
			}
		}	
	}
}