@import "imports";
@import "titlebar";
@import "library";
@import "canvas";
@import "ui";
@import "console";

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-font-smoothing: none;
}

body {
	margin: 0px;
	width: 100%;
	height: 100%;

	display: inline-block;

	.workspace {
		width: 100%;
		height: 100%;
		margin-left: 200px;
		padding-right: 200px;
		margin-top: 34px;
	    padding-bottom: 34px;
	    box-sizing: border-box;
		z-index: @ide-z-back;

		display: inline-block;
	}
}

::selection {
  background: @ide-fave-color-200;
}