@import "imports";
@import "titlebar";
@import "library";
@import "canvas";
@import "ui";
@import "console";

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	-webkit-font-smoothing: none;

	/*border-radius: 5px;*/
    border: 3px solid var(--eng-color);
    box-sizing: border-box;
    transition: border 0.2s ease-in-out;
}

::selection {
  	background: var(--eng-color);
}

body {
	background-color: #424242;
	display: inline-block;
	position: relative;

	&.not-ready .load-splash {
		opacity: 1;
	}

	&:not(.not-ready) .load-splash {
		>.draggable {
			.win-nodrag();
		}

		opacity: 0;
		pointer-events: none;
	}
}

.load-splash {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1000;
	background-color: white;

	transition: all 0.5s ease-in-out;

	>.draggable {
		.win-drag();

		margin: 3px;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    left: 0px;
	    bottom: 0px;
	}

	div.circle1, div.circle2 {
		position: absolute;
	    border-radius: 100%;
		background-color: white;
		top: 50%;
		left: 50%;
    	transform: translate(-50%, -50%); 
	    
	    animation-name: loading1;
	    animation-iteration-count: infinite;
	    animation-duration: 3s;
	    animation-timing-function: ease-in-out;
	}
	div.circle1 {  
	    background-image: url("less/splash.png");
	    background-position: center center;
	    clip-path: circle(100% at 50% 50%);
	}

	div.circle2 {
		animation-delay: 0.075s;	
	}

	@keyframes loading1 {
	    from {
	    	width: 0vw;
	       	height: 0vw;
	    }
	    to {
	    	width: 200vw;
	        height: 200vw;
	    }
	}
}