body{
    &[project-open="0"] {
        .titlebar {
            left: 0px;
        }
    }

    &[project-open="1"] {
        .titlebar {
            left: 200px;
        }
    }
}

.titlebar {
	.win-drag();
    .no-select();

    position: absolute;
    top: 0px;
    right: 0px;
    height: auto;
    padding: 0px 2px;
    margin: 3px;
    z-index: @ide-z-front;
    
    transition: all ease-in-out 0.2s;

    .actionbuttons {
        .win-nodrag();

        white-space: nowrap;
        display: inline-block;

        button {
            .ui-button-sphere();
        }
    }

    .gamebuttons {
        .win-nodrag();

        display: inline-block;
        margin-left: 20px;

        button {
            .ui-button-sphere();
        }
    }

    .titlebuttons {
    	.win-nodrag();

        white-space: nowrap;
    	position: absolute;
    	top: 3px;
    	right: 5px;

    	button {
            .ui-button-sphere();
    		vertical-align: top;

		    &:hover {
		    	&.btn-close {
		    		background-color: #E81123;
		    	}
		    }
    	}
    }
}