@ide-fave-color-200: #80deea;
@ide-fave-color-400: #26c6da;
@ide-background: #FFFFFF;

@ide-z-front: 20;
@ide-z-middle: 0;
@ide-z-back: -20;

@library-z-front: 10;
@library-z-middle: 0;
@library-z-back: -10;

@library-padding: 5px;

@text-highlight-red: #ffcdd2;
@text-highlight-green: #c5e1a5;
@text-highlight-amber: #ffe082;

@font-size: 14px;
@ui-subcategory-fsize: 24px;
@ui-categories-width: 188px;

@titlebar-height: 38px;

@overlay-color: rgba(250,250,250,0.95);


:root {
	--eng-color: white;
}