@ide-fave-color-200: #80deea;
@ide-fave-color-400: #26c6da;
@ide-background: #FFFFFF;

@ide-z-front: 20;
@ide-z-middle: 0;
@ide-z-back: -20;

@library-z-front: 10;
@library-z-middle: 0;
@library-z-back: -10;
