@import "imports";

#main-canvas.spritesheet {
	display: inline-block;
	width: 50%;
	overflow: auto;
}

.workspace .inputs-section {
	display: inline-block;
    width: 50%;
    box-sizing: border-box;
    float: right;
    height: 100%;
    margin-top: 46px;
    padding: 10px;
}