@import "imports";

.library {
	.img-hover-container {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 3px;
		margin-bottom: 9px;
		margin-right: 5px;
		z-index: @library-z-back;	

		.img-hover {
			max-width: 100%;
			max-height: 100%;
		    border: 1px solid var(--eng-color);
		}
	}
}

.blanke-window.image {
	.preview-container {
		height: 100%;

		.img-preview-container, .img-settings {
			width: 50%;
			display: inline-block;
		}

		.img-preview-container {
			position: relative;
			height: 100%;
    		vertical-align: top;
    		overflow: auto;
    		background-image: url('modules/image/grid.png');
    		background-repeat: repeat;

  			.preview {
  				.no-select();

  				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    transition: all ease-in-out 0.2s;
			    image-rendering: pixelated;
			    outline: 2px dashed var(--eng-color);
  			}

  		}

  		#zoom-controls {
			position: absolute;
		    left: 20px;
		    bottom: 20px;
		}

		.img-settings {
			padding-left: 10px;
    		box-sizing: border-box;

			.subcategory {
				.title {
					font-size: 20px;
					font-weight: 600;
				}

				.ui-input-group {
					margin-left: 20px;
					margin-bottom: 10px;
				}
			}
		}
	}
}