@import "imports";

.library {
	.img-hover {
		position: absolute;
		bottom: 0px;
	    max-width: 100%;
	    opacity: 0.2;
	    z-index: @library-z-middle;
	    margin-bottom: 17px;
	    margin-left: 1px;
	    border: 1px solid @ide-fave-color-400;
	}
}