.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
}
.win-drag {
  -webkit-app-region: drag;
}
.win-nodrag {
  -webkit-app-region: no-drag;
}
/*
    HEADER
*/
.ui-header {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 0px;
}
/*
    BUTTONS
*/
.ui-btn-group {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.ui-button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
}
.ui-button:hover {
  background-color: #e0e0e0;
}
.ui-button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-button-sphere {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
  height: 30px;
  width: 30px;
  padding: 0px;
}
.ui-button-sphere:hover {
  background-color: #e0e0e0;
}
.ui-button-sphere:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button-sphere .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-button-sphere:hover {
  border-radius: 100%;
}
.ui-button-rect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  background-color: transparent;
  font-size: 12px;
  vertical-align: top;
  padding: 5px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.ui-button-rect:hover {
  background-color: #e0e0e0;
}
.ui-button-rect:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button-rect .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-button-rect:hover {
  border-radius: 4px;
  background-color: #e0e0e0;
}
.ui-select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border-color: black;
  border-width: 2px;
}
.ui-input {
  -webkit-app-region: no-drag;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 90%, transparent 100%);
  border-image-slice: 1;
  border-width: 0px;
  padding: 3px;
  border-bottom-width: 1px;
  outline: none;
  margin-left: 10px;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
.ui-checkbox {
  -webkit-app-region: no-drag;
  width: 30px;
  height: 30px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.ui-checkbox label {
  margin-left: 40px;
  vertical-align: top;
  line-height: 30px;
}
.ui-checkbox input {
  height: 100%;
  width: 100%;
  margin: 0px;
  opacity: 0;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ui-checkbox input:not(:checked) + .mdi,
.ui-checkbox input:not(:checked) + .mdi-svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  text-align: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: dashed;
}
.ui-checkbox input:checked + .mdi,
.ui-checkbox input:checked + .mdi-svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  text-align: center;
  border-color: black;
  border-style: solid;
  background-color: #e0e0e0;
}
.ui-checkbox .mdi,
.ui-checkbox .mdi-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0px;
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}
.ui-checkbox .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-checkbox:hover .mdi,
.ui-checkbox:hover .mdi-svg {
  background-color: #e0e0e0;
}
.ui-checkbox-label {
  -webkit-app-region: no-drag;
  width: 30px;
  height: 30px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
}
.ui-checkbox-label label {
  margin-left: 40px;
  vertical-align: top;
  line-height: 30px;
}
.ui-checkbox-label input {
  height: 100%;
  width: 100%;
  margin: 0px;
  opacity: 0;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ui-checkbox-label input:not(:checked) + .mdi,
.ui-checkbox-label input:not(:checked) + .mdi-svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  text-align: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: dashed;
}
.ui-checkbox-label input:checked + .mdi,
.ui-checkbox-label input:checked + .mdi-svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  text-align: center;
  border-color: black;
  border-style: solid;
  background-color: #e0e0e0;
}
.ui-checkbox-label .mdi,
.ui-checkbox-label .mdi-svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0px;
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}
.ui-checkbox-label .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-checkbox-label:hover .mdi,
.ui-checkbox-label:hover .mdi-svg {
  background-color: #e0e0e0;
}
.ui-file > input {
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
}
.ui-file > label {
  margin-left: 10px;
}
.ui-input-group label {
  margin-right: 20px;
}
.ui-input-group input {
  margin: 5px;
}
.ui-input-group .ui-input {
  margin: 5px;
}
.ui-text > input {
  -webkit-app-region: no-drag;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 90%, transparent 100%);
  border-image-slice: 1;
  border-width: 0px;
  padding: 3px;
  border-bottom-width: 1px;
  outline: none;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin-left: 10px;
}
.ui-modal {
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 20;
  right: 0px;
  text-align: center;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
}
.ui-modal > .modal-body {
  margin: 10px;
}
.ui-modal button:hover[data-action='yes'] {
  background-color: #4caf50;
  color: white;
}
.ui-modal button:hover[data-action='no'] {
  background-color: #f44336;
  color: white;
}
@font-face {
  font-family: "Inconsolata";
  src: url("includes/fonts/inconsolata/Inconsolata.otf") format("opentype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("includes/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ProggySquare";
  src: url("includes/fonts/proggy/ProggySquare.ttf/ProggySquare.ttf") format("truetype");
}
@font-face {
  font-family: "ProggyClean";
  src: url("includes/fonts/proggy/ProggyClean.ttf/ProggyClean.ttf") format("truetype");
}
@font-face {
  font-family: "Monofur";
  src: url("includes/fonts/monofur/monof55.ttf") format("truetype");
}
@font-face {
  font-family: "ProFont";
  src: url("includes/fonts/profont/ProFontWindows.ttf") format("truetype");
}
* {
  font-family: 'Inconsolata', sans-serif;
}
body[project-open="0"] .titlebar {
  left: 0px;
}
body[project-open="1"] .titlebar {
  left: 200px;
}
.titlebar {
  -webkit-app-region: drag;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  position: absolute;
  top: 0px;
  right: 0px;
  height: auto;
  padding: 0px;
  margin: 3px;
  z-index: 20;
  transition: all ease-in-out 0.2s;
}
.titlebar button {
  width: 22px;
  height: 22px;
}
.titlebar .mdi-svg {
  width: 12px;
  height: 12px;
}
.titlebar .actionbuttons {
  -webkit-app-region: no-drag;
  white-space: nowrap;
  display: inline-block;
}
.titlebar .actionbuttons button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
  height: 30px;
  width: 30px;
  padding: 0px;
}
.titlebar .actionbuttons button:hover {
  background-color: #e0e0e0;
}
.titlebar .actionbuttons button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.titlebar .actionbuttons button .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.titlebar .actionbuttons button:hover {
  border-radius: 100%;
}
.titlebar .gamebuttons {
  -webkit-app-region: no-drag;
  display: inline-block;
  margin-left: 20px;
}
.titlebar .gamebuttons button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
  height: 30px;
  width: 30px;
  padding: 0px;
}
.titlebar .gamebuttons button:hover {
  background-color: #e0e0e0;
}
.titlebar .gamebuttons button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.titlebar .gamebuttons button .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.titlebar .gamebuttons button:hover {
  border-radius: 100%;
}
.titlebar .titlebuttons {
  -webkit-app-region: no-drag;
  white-space: nowrap;
  position: absolute;
  top: 0px;
  right: 0px;
}
.titlebar .titlebuttons button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  height: 30px;
  width: 30px;
  padding: 0px;
  vertical-align: top;
}
.titlebar .titlebuttons button:hover {
  background-color: #e0e0e0;
}
.titlebar .titlebuttons button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.titlebar .titlebuttons button .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.titlebar .titlebuttons button:hover {
  border-radius: 100%;
}
.titlebar .titlebuttons button:hover.btn-close {
  background-color: #E81123;
}
.titlebar > .progress-bar {
  transition: all ease-in-out 0.2s;
  position: absolute;
  left: 0px;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 2px;
  bottom: 0px;
}
body[project-open="0"] .library {
  width: 0px;
}
body[project-open="0"] .library .actions {
  display: none;
}
body[project-open="1"] .library {
  width: 200px;
}
.library {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #ffffff;
  /*box-shadow: 1px 0px 5px black;*/
  z-index: 20;
  overflow: auto;
  transition: all ease-in-out 0.2s;
}
.library > .ui-resizable-handle {
  right: 0px;
  width: 10px;
}
.library .mdi-svg {
  width: 14px;
  height: 14px;
}
.library .actions {
  -webkit-app-region: drag;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  white-space: nowrap;
  z-index: 10;
}
.library .actions button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
  height: 30px;
  width: 30px;
  padding: 0px;
  -webkit-app-region: no-drag;
}
.library .actions button:hover {
  background-color: #e0e0e0;
}
.library .actions button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.library .actions button .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.library .actions button:hover {
  border-radius: 100%;
}
.library .actions .btn-add:hover {
  background-color: #E5E5E5;
}
.library .constant-items .item {
  position: relative;
  cursor: default;
  outline: 1.5px dashed;
  outline-color: transparent;
  transition: background-color ease-in-out 0.1s;
  transition: outline-color ease-in-out 0.5s;
}
.library .constant-items .item .name {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 0px;
  padding: 4px;
  font-size: 16px;
}
.library .constant-items .item .name:hover {
  background-color: #e0e0e0;
}
.library .object-tree {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  /*position: absolute;*/
  top: 36px;
  left: 0px;
  right: 0px;
  z-index: 10;
  box-sizing: border-box;
  line-height: 16px;
  overflow: auto;
  bottom: 0px;
}
.library .object-tree.can-delete .children {
  margin-left: 0px !important;
}
.library .object-tree > .children {
  width: 100%;
  padding: 1px;
  position: absolute;
  box-sizing: border-box;
}
.library .object-tree > .name {
  position: relative;
  cursor: default;
  outline: 1.5px dashed;
  outline-color: transparent;
  transition: background-color ease-in-out 0.1s;
  transition: outline-color ease-in-out 0.5s;
}
.library .object-tree .folder,
.library .object-tree .object {
  position: relative;
  transition: all ease-in-out 0.4s;
}
.library .object-tree .folder.dragover,
.library .object-tree .object.dragover {
  outline-color: #26c6da;
}
.library .object-tree .folder.dragover > .name,
.library .object-tree .object.dragover > .name {
  line-height: 18px;
  font-size: 18px;
}
.library .object-tree .folder.selected > .name,
.library .object-tree .object.selected > .name {
  font-weight: 900;
}
.library .object-tree .folder input,
.library .object-tree .object input {
  -webkit-app-region: no-drag;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 90%, transparent 100%);
  border-image-slice: 1;
  border-width: 0px;
  padding: 3px;
  border-bottom-width: 1px;
  margin-left: 10px;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 0px;
}
.library .object-tree .folder .name,
.library .object-tree .object .name {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  padding: 1px;
  font-size: 16px;
  transition: all ease-in-out 0.1s;
}
.library .object-tree .folder .name:hover,
.library .object-tree .object .name:hover {
  background-color: #e0e0e0;
}
.library .object-tree .folder.can-delete,
.library .object-tree .object.can-delete {
  margin-left: 18px;
}
.library .object-tree .folder .btn-delete-obj,
.library .object-tree .object .btn-delete-obj {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  vertical-align: top;
  transition: all ease-in-out 0.4s;
  height: 30px;
  width: 30px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: -18px;
  width: 18px;
  height: 18px;
  margin: 0px;
  transition: ease-in-out 0.1s background-color;
}
.library .object-tree .folder .btn-delete-obj:hover,
.library .object-tree .object .btn-delete-obj:hover {
  background-color: #e0e0e0;
}
.library .object-tree .folder .btn-delete-obj:hover:disabled,
.library .object-tree .object .btn-delete-obj:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.library .object-tree .folder .btn-delete-obj .mdi-svg,
.library .object-tree .object .btn-delete-obj .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.library .object-tree .folder .btn-delete-obj:hover,
.library .object-tree .object .btn-delete-obj:hover {
  border-radius: 100%;
}
.library .object-tree .folder .btn-delete-obj:hover,
.library .object-tree .object .btn-delete-obj:hover {
  background-color: #f44336;
  color: white;
  border-radius: 0px;
}
.library .object-tree .folder > .children {
  overflow: hidden;
  margin-left: 15px;
  transition: ease-in-out 0.05s all;
}
.library .object-tree .folder > .name {
  text-decoration: underline;
}
.library .object-tree .folder.expanded > .name {
  font-style: italic;
}
.library .object-tree .folder.expanded > .children {
  opacity: 1;
}
.library .object-tree .folder:not(.expanded) > .children {
  max-height: 0;
  height: auto;
  margin-left: 0px;
  opacity: 0;
}
#main-canvas {
  width: 100%;
  height: 100%;
  cursor: default;
}
.ui-dialog-container {
  margin-left: 200px;
  position: absolute;
  top: 44px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  pointer-events: none;
}
.ui-dialog-container * {
  pointer-events: all;
}
.ui-settings {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;
  background: #FFFFFF;
  white-space: nowrap;
}
.ui-settings .categories {
  position: relative;
  display: inline-block;
  width: 188px;
  height: 100%;
  vertical-align: top;
  text-align: center;
  white-space: normal;
}
.ui-settings .categories .category {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  background-color: transparent;
  font-size: 12px;
  vertical-align: top;
  padding: 5px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  font-size: 16px;
  width: 100%;
  height: 36px;
  margin: 0px;
}
.ui-settings .categories .category:hover {
  background-color: #e0e0e0;
}
.ui-settings .categories .category:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-settings .categories .category .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-settings .categories .category:hover {
  border-radius: 4px;
  background-color: #e0e0e0;
}
.ui-settings .categories .btn-close {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  background-color: transparent;
  font-size: 12px;
  vertical-align: top;
  padding: 5px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  position: absolute;
  bottom: 0px;
  width: 80px;
  height: 40px;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.ui-settings .categories .btn-close:hover {
  background-color: #e0e0e0;
}
.ui-settings .categories .btn-close:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-settings .categories .btn-close .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.ui-settings .categories .btn-close:hover {
  border-radius: 4px;
  background-color: #e0e0e0;
}
.ui-settings .inputs-container {
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  margin-right: 188px;
}
.ui-settings .inputs-container .subcategory > .title {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  cursor: default;
  margin: 10px;
  font-size: 24px;
}
.ui-settings .inputs-container .subcategory > .ui-checkbox {
  margin-right: 20px;
}
.ui-settings .inputs-container > div {
  margin: 4px 25px;
}
.console {
  display: none;
  pointer-events: none;
  position: fixed;
  z-index: 20;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #FFFFFF;
  outline: 1px solid black;
  margin: 5px;
  max-height: 182px;
  overflow-y: auto;
  overflow-x: hidden;
}
.console.active {
  display: initial;
  pointer-events: all;
}
.console > div {
  width: 100%;
  white-space: nowrap;
}
.console > div > .btn-close {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  height: 30px;
  width: 30px;
  padding: 0px;
  width: 20px;
  height: 20px;
  vertical-align: top;
}
.console > div > .btn-close:hover {
  background-color: #e0e0e0;
}
.console > div > .btn-close:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.console > div > .btn-close .mdi-svg {
  vertical-align: top;
  text-align: center;
}
.console > div > .btn-close:hover {
  border-radius: 100%;
}
.console > div > .message {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  white-space: normal;
}
.console .error > .message {
  background-color: #ffcdd2;
}
.console .success > .message {
  background-color: #c5e1a5;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: none;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
body .workspace {
  box-sizing: border-box;
  z-index: 20;
  display: inline-block;
  position: absolute;
  top: 44px;
  left: 200px;
  right: 0px;
  bottom: 0px;
  /*
		width: 100%;
		height: 100%;
		margin-left: 200px;
		padding-right: 200px;
		margin-top: @titlebar-height;
	    padding-bottom: @titlebar-height;
	    box-sizing: border-box;
		z-index: @ide-z-back;

		display: inline-block;
		*/
}
::selection {
  background: #80deea;
}
