.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
}
.win-drag {
  -webkit-app-region: drag;
}
.win-nodrag {
  -webkit-app-region: no-drag;
}
/*
    HEADER
*/
.ui-header {
  font-weight: 900;
  font-size: 20px;
  margin: 10px 0px;
}
/*
    BUTTONS
*/
.ui-group-button {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.ui-button {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.ui-button:hover {
  background-color: #e0e0e0;
}
.ui-button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button-sphere {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  padding: 0px;
  height: 30px;
  width: 30px;
}
.ui-button-sphere:hover {
  background-color: #e0e0e0;
}
.ui-button-sphere:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button-sphere:hover {
  border-radius: 100%;
}
.ui-button-rect {
  margin: 3px;
  border: none !important;
  background-color: transparent;
  font-size: 15px;
  padding: 5px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.ui-button-rect:hover {
  background-color: #e0e0e0;
}
.ui-button-rect:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-button-rect:hover {
  border-radius: 4px;
  background-color: #e0e0e0;
}
.ui-select {
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
.ui-input {
  -webkit-app-region: no-drag;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, black 0%, transparent 90%, transparent 100%);
  border-image-slice: 1;
  border-width: 0px;
  padding: 3px;
  border-bottom-width: 1px;
  outline: none;
}
.ui-checkbox {
  -webkit-app-region: no-drag;
  height: 30px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.ui-checkbox label {
  margin-left: 40px;
  vertical-align: top;
  line-height: 30px;
}
.ui-checkbox input {
  height: 100%;
  width: 100%;
  margin: 0px;
  opacity: 0;
  border-style: solid;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ui-checkbox input:not(:checked) + .mdi {
  border-color: rgba(0, 0, 0, 0.2);
  border-style: dashed;
}
.ui-checkbox input:checked + .mdi {
  border-color: black;
  border-style: solid;
  background-color: #e0e0e0;
}
.ui-checkbox .mdi {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}
.ui-checkbox:hover .mdi {
  background-color: #e0e0e0;
}
.ui-file > input {
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
}
.ui-file > label {
  margin-left: 10px;
}
.ui-input-group label {
  margin-right: 20px;
}
.ui-input-group input {
  margin: 5px;
}
.ui-input-group .ui-input {
  margin: 5px;
}
@font-face {
  font-family: "Inconsolata";
  src: url("includes/fonts/inconsolata/inconsolata.otf") format("opentype");
}
* {
  font-family: 'Inconsolata', sans-serif;
}
body[project-open="0"] .titlebar {
  left: 0px;
}
body[project-open="1"] .titlebar {
  left: 200px;
}
.titlebar {
  -webkit-app-region: drag;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  position: absolute;
  top: 0px;
  right: 0px;
  height: auto;
  padding: 0px 2px;
  margin: 3px;
  z-index: 20;
  transition: all ease-in-out 0.2s;
}
.titlebar .actionbuttons {
  -webkit-app-region: no-drag;
  white-space: nowrap;
  display: inline-block;
}
.titlebar .actionbuttons button {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  padding: 0px;
  height: 30px;
  width: 30px;
}
.titlebar .actionbuttons button:hover {
  background-color: #e0e0e0;
}
.titlebar .actionbuttons button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.titlebar .actionbuttons button:hover {
  border-radius: 100%;
}
.titlebar .gamebuttons {
  -webkit-app-region: no-drag;
  display: inline-block;
  margin-left: 20px;
}
.titlebar .gamebuttons button {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  padding: 0px;
  height: 30px;
  width: 30px;
}
.titlebar .gamebuttons button:hover {
  background-color: #e0e0e0;
}
.titlebar .gamebuttons button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.titlebar .gamebuttons button:hover {
  border-radius: 100%;
}
.titlebar .titlebuttons {
  -webkit-app-region: no-drag;
  white-space: nowrap;
  position: absolute;
  top: 3px;
  right: 5px;
}
.titlebar .titlebuttons button {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  padding: 0px;
  height: 30px;
  width: 30px;
  vertical-align: top;
}
.titlebar .titlebuttons button:hover {
  background-color: #e0e0e0;
}
.titlebar .titlebuttons button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.titlebar .titlebuttons button:hover {
  border-radius: 100%;
}
.titlebar .titlebuttons button:hover.btn-close {
  background-color: #E81123;
}
body[project-open="0"] .library {
  width: 0px;
}
body[project-open="0"] .library .actions {
  display: none;
}
body[project-open="1"] .library {
  width: 200px;
}
.library {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #ffffff;
  /*box-shadow: 1px 0px 5px black;*/
  z-index: 20;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}
.library .actions {
  -webkit-app-region: drag;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  white-space: nowrap;
  z-index: 10;
}
.library .actions button {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  padding: 0px;
  height: 30px;
  width: 30px;
  -webkit-app-region: no-drag;
}
.library .actions button:hover {
  background-color: #e0e0e0;
}
.library .actions button:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.library .actions button:hover {
  border-radius: 100%;
}
.library .actions .btn-add:hover {
  background-color: #E5E5E5;
}
.library .actions .ui-checkbox {
  width: 30px;
}
.library .constant-items .item {
  position: relative;
  cursor: default;
  outline: 1.5px dashed;
  outline-color: transparent;
  transition: background-color ease-in-out 0.1s;
  transition: outline-color ease-in-out 0.5s;
}
.library .constant-items .item .name {
  margin: 0px;
  padding: 4px;
}
.library .constant-items .item .name:hover {
  background-color: #e0e0e0;
}
.library .object-tree {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    not supported by any browser */
  /*position: absolute;*/
  top: 36px;
  left: 0px;
  right: 0px;
  z-index: 10;
  box-sizing: border-box;
  line-height: 20px;
  overflow: auto;
  bottom: 0px;
  height: 100%;
}
.library .object-tree.can-delete .children {
  margin-left: 0px !important;
}
.library .object-tree > .children {
  width: 100%;
  padding: 1px;
  position: absolute;
}
.library .object-tree > .name {
  position: relative;
  cursor: default;
  outline: 1.5px dashed;
  outline-color: transparent;
  transition: background-color ease-in-out 0.1s;
  transition: outline-color ease-in-out 0.5s;
}
.library .object-tree .folder,
.library .object-tree .object {
  position: relative;
}
.library .object-tree .folder.dragover,
.library .object-tree .object.dragover {
  outline-color: #26c6da;
}
.library .object-tree .folder.selected > .name,
.library .object-tree .object.selected > .name {
  font-weight: 900;
}
.library .object-tree .folder input,
.library .object-tree .object input {
  -webkit-app-region: no-drag;
  border: 20px solid transparent;
  border-image: linear-gradient(to right, black 0%, transparent 90%, transparent 100%);
  border-image-slice: 1;
  border-width: 0px;
  padding: 3px;
  border-bottom-width: 1px;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 0px;
}
.library .object-tree .folder .name,
.library .object-tree .object .name {
  padding: 4px;
}
.library .object-tree .folder .name:hover,
.library .object-tree .object .name:hover {
  background-color: #e0e0e0;
}
.library .object-tree .folder.can-delete,
.library .object-tree .object.can-delete {
  margin-left: 25px;
}
.library .object-tree .folder .btn-delete-obj,
.library .object-tree .object .btn-delete-obj {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  padding: 0px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  left: -25px;
  width: 25px;
  height: 28px;
  margin: 0px;
  transition: ease-in-out 0.1s background-color;
}
.library .object-tree .folder .btn-delete-obj:hover,
.library .object-tree .object .btn-delete-obj:hover {
  background-color: #e0e0e0;
}
.library .object-tree .folder .btn-delete-obj:hover:disabled,
.library .object-tree .object .btn-delete-obj:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.library .object-tree .folder .btn-delete-obj:hover,
.library .object-tree .object .btn-delete-obj:hover {
  border-radius: 100%;
}
.library .object-tree .folder .btn-delete-obj:hover,
.library .object-tree .object .btn-delete-obj:hover {
  background-color: #f44336;
  color: white;
  border-radius: 0px;
}
.library .object-tree .folder > .children {
  overflow: hidden;
  margin-left: 15px;
  transition: ease-in-out 0.05s all;
}
.library .object-tree .folder > .name {
  text-decoration: underline;
}
.library .object-tree .folder.expanded > .name {
  font-style: italic;
}
.library .object-tree .folder.expanded > .children {
  max-height: 1800px;
  opacity: 1;
}
.library .object-tree .folder:not(.expanded) > .children {
  max-height: 0;
  height: auto;
  margin-left: 0px;
  opacity: 0;
}
#main-canvas {
  width: 100%;
  height: 100%;
  cursor: default;
}
.ui-settings {
  position: absolute;
  top: 45px;
  bottom: 0px;
  left: 200px;
  right: 0px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 19;
  background: #FFFFFF;
  white-space: nowrap;
}
.ui-settings .categories {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  text-align: center;
  white-space: normal;
}
.ui-settings .categories .category {
  margin: 3px;
  border: none !important;
  background-color: transparent;
  font-size: 15px;
  padding: 5px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  font-size: 18px;
  width: 100%;
  height: 36px;
  margin: 0px;
}
.ui-settings .categories .category:hover {
  background-color: #e0e0e0;
}
.ui-settings .categories .category:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-settings .categories .category:hover {
  border-radius: 4px;
  background-color: #e0e0e0;
}
.ui-settings .categories .btn-close {
  margin: 3px;
  border: none !important;
  background-color: transparent;
  font-size: 15px;
  padding: 5px 10px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  position: absolute;
  bottom: 0px;
  width: 80px;
  height: 40px;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.ui-settings .categories .btn-close:hover {
  background-color: #e0e0e0;
}
.ui-settings .categories .btn-close:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.ui-settings .categories .btn-close:hover {
  border-radius: 4px;
  background-color: #e0e0e0;
}
.ui-settings .inputs-container {
  display: inline-block;
  white-space: normal;
}
.ui-settings .inputs-container .subcategory {
  font-size: 20px;
  margin: 10px;
}
.ui-settings .inputs-container > div {
  margin: 4px 25px;
}
.console {
  display: none;
  pointer-events: none;
  position: fixed;
  z-index: 20;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #FFFFFF;
  outline: 1px solid black;
  margin: 5px;
  max-height: 182px;
  overflow-y: auto;
  overflow-x: hidden;
}
.console.active {
  display: initial;
  pointer-events: all;
}
.console > div {
  width: 100%;
  white-space: nowrap;
}
.console > div > .btn-close {
  margin: 3px;
  border: none !important;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  padding: 0px;
  height: 30px;
  width: 30px;
  width: 20px;
  height: 20px;
  vertical-align: top;
}
.console > div > .btn-close:hover {
  background-color: #e0e0e0;
}
.console > div > .btn-close:hover:disabled {
  background-color: transparent;
  cursor: default;
}
.console > div > .btn-close:hover {
  border-radius: 100%;
}
.console > div > .message {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  white-space: normal;
}
.console .error > .message {
  background-color: #ffcdd2;
}
.console .success > .message {
  background-color: #c5e1a5;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
body .workspace {
  height: 100%;
  margin-left: 200px;
  z-index: -20;
}
::selection {
  background: #80deea;
}
